.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar--list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    cursor: pointer;
    display: flex;
}

.item--link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar--item {
    margin: 0 8px;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    position: relative;

}

.header__navbar--user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar--user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar--user-name {
    font-size: 1.4rem;
    margin-left: 8px;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    width: 160px;
    right: 0;
    border-radius: 2px;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #ccc;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 28px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

.header__navbar-user-menu::after {
    content: "";
    border-style: solid;
    position: absolute;
    top: -8px;
    width: 56%;
    right: 0;
    height: 8px;
    display: none;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}


.header__qr--appear:hover .header__qr {
    display: block;
}

.header__notify--appear:hover .header__notify {
    display: block;
}

.item--link:hover,
.header__navbar--item:hover,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255, 0.7);
    cursor: pointer;
}

.navbar--item--strong {
    font-weight: 400;
}

.separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FB9086;
    height: 12px;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar--item,
.header__navbar-icon,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}


.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;

}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-nopointer {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    background: var(--white-color);
    width: 186px;
    left: 0;
    position: absolute;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.header__qr::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps  {
    display: flex;
    justify-content: space-between      ;
}

.header__qr--link:first-child {
    margin-left: 11px;
}

.header__qr--link:last-child {
    margin-right: 11px;
}

.qr-dowload {
    height: 16px;
}

.header__notify{
    position: absolute;
    top: 160%;
    width: 404px;
    right: 0;
    background: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    display: none;
    will-change: opacity, transform;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 28px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    display: block;
    top: -16px;
    right: 0;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--whiteColor);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background: #f7f7f7;
}

.header__notify-item--viewed {
    background: rgba(238 ,75 , 43, 0.09);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;

}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    line-height: 1.8rem;
    display:block;
    font-size : 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-decs {
    font-size : 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    font-size: 1.4rem;
}

/* authen form*/
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 32px;
 }

 .auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
 }

 .auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
 }

 .auth-form__btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
 }

 .auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 1px;
 }

 .auth-form__aside {
    margin-top: 18px;
 }

 .auth-form__aside-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
 }

 .auth-form__policy {
    text-decoration: none;
    color: var(--primary-color);
 }

 .auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #dddcdc;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-fb {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-fb
.auth-form__socials-icon {
    color: var(--white-color);

}

.auth-form__socials-title {
    margin: 0 28px;
}

.auth-form__socials-gg {
    color:#666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #eaeaea;
    margin: 0 16px ;
}

.auth-form__forgot {
    color: var(--primary-color);
}

.header-with-search {
    height: var( --header-with-seach-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo  {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;

}

.cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.cart-wrap:hover .cart-list {
    display: block;
}

.cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
}

.cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: -3px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0, 0, 0, 0.2);
    background-color: var(--white-color);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    z-index: 1;
}

.cart-list::before {
    content: "";
    border-style: solid;
    border-width: 16px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -26px;

}

.cart-notice {
    top: -12px;
    right: -2px;
    position: absolute;
    padding: 1px 4px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
}



/* No cart */
.no-cart-img {
    width: 54%;
    display: none;
}

.cart-list--no-cart {
    padding: 24px 0;

}

.cart-list--no-cart .no-cart-img,
.cart-list--no-cart .cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart-list--no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

/* cart-item */
.cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh; /* theo % màng hình trình duyệt   */
    overflow-y: auto;

}

.cart-item {
    display: flex;
    align-items: center;
}

.cart-item:hover {
    background-color: #f8f8f8;
}

.cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.cart-item-info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cart-item-info-name {
    flex: 1;
    padding-right: 16px;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 4rem;
    line-height: 2rem;
    overflow: hidden;
    margin: 0;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cart-item-info-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.cart-item-info-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.cart-item-info-qnt {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 400;
}

.cart-item-info-body{
    display: flex;
    justify-content: space-between;
}

.cart-item-info-dec {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.cart-item-info-remove {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.cart-item-info-remove:hover {
    color: var(--primary-color);
}

.cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
    font-size: 1.4rem;
}

.cart-view-cart:hover {
    background: #fa5141;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size:  1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-sel {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;

}

.header__search-sec-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-sec-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 12px;
}

.search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.search-btn-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__search-sel:hover .header__search-option {
    display: block;

}

.header__search-option {
    position: absolute;
    right: 0;
    top: 130%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 3px;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;

}


.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;

}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;

}

.header__search-option-item i {
    display: none;
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
}

.item-active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    z-index: 1;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(179, 178, 178);
    display: none;
    overflow: hidden;
}

.search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.search-history-item {
    height: 38px;
    padding: 0 12px;

}


.search-history-item:hover {
    background-color: rgb(245, 241, 241);
}

.search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* app contaiber */
.app__container {
    background-color: #f5f5f5;

}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category-heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 10px 16px 0;
    margin-top: 16px;
    text-transform: uppercase;
}

.category-heading-icon {
    margin-right: 4px;
    font-size: 1.4rem;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}


.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link:before {
    position: absolute;
    content: " ";
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 20px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: 4px;
    color: var(--primary-color);

}

/* home sort + filter */
.home-filter {
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
    box-shadow: 0 1px 0 #ccc;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 0 #ccc;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;

}

.home-filter__page-disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-disabled
.home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product item */
.home-product {
    margin-bottom: 10px;
}

.product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.product-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0, 0.05);
}

.product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px  10px 6px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;

}

.product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 10px;
    align-items: center;
}

.product-item__like {
    font-size: 1.3rem;
}

i.product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}

.product-item__like--liked
.product-item__like-icon-fill {
    display: inline-block;
}

.product-item__like--liked
.product-item__like-icon-empty {
    display: none;
}

.product-item__rating {
    font-size: 0.8rem;
    margin-left: auto;
}

.product-item__rating-icon-gold {
    color: var(--star-gold-color);
}

.product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.product-item__origin {
    margin: 3px 10px 0;
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 400;
}

.product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor ;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-item__favourite::before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.product-item__favourite span {
    color: var(--white-color);
}

.product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin:0 2px 0 5px;
}

.product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    border-top-right-radius: 2px;
    background-color: rgba(255, 216, 64, 0.941);
    text-align: center;
}

.product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent #ffd840f0 transparent #ffd840f0;
}

.sale-off__percent{
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.sale-off__label {
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.home-product__pagination {
    margin: 48px 0 32px;
}

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 8px 0;

}

.footer-item-link:hover {
    color: var(--primary-color);
}

.footer-item-icon {
    font-size: 1.8rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__qr-img {
    width: 80px;    
    height: 80px;
    border: 1px solid var(--border-color);

}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column

}

.footer-qr-dowload {
    height: 16px;
}

.footer__qr--link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    padding: 8px 0;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.footer__text {
    font-size: 1.4rem;
    margin: 0;
    color: #737373;
}